<nav>
   <ul>
      <li><a href="/auth/login">LOGIN</a></li>
      <li><a href="/auth/signup">SIGNUP</a></li>
      <li><a href="/auth/logout">LOGOUT</a></li>


   </ul>
</nav>
<br>
<H1>Welcome to GOceipt</H1>
<h3>Organize your receipts and rides on the Go and do your tax declaration in one click</h3>
<h4>The perfect solution for freelancers who spend their time in what really matters</h4>
<br>
<H2>Please log in:</H2>
<form action="/auth/login" method="POST">
   <label for="email">email</label>
   <input type="text" id="email" name="email">
   <label for="password">password</label>
   <input type="password" id="password" name="password">
   <button type="submit">Submit</button>
</form>
<br>
<h3>New user? <a href="/auth/signup">Register</a></h3>

<h1>This is a test H1</h1>
<h2>This is a test H2</h2>
<h3>This is a test H3</h3>
<h4>This is a test H4</h4>


{{infoMessage}}
{{errorMessage}}