{{!-- <nav>
   <ul>
      <li><a href="/auth/login">LOGIN</a></li>
      <li><a href="/auth/signup">SIGNUP</a></li>
      <li><a href="/auth/logout">LOGOUT</a></li>


   </ul>
</nav> --}}
{{!-- Added the nav bar --}}
{{!-- <div class="nav-nav--login">


   <div class="nav-dropdown--login" style="left:0">
      <button class="nav-dropbtn--login"><img src="/images/whitehome.png" alt="" style="height: 30px;"></button>
   </div>
   <div class="nav-dropdown--login" style="right:0">
      <button class="nav-dropbtn--login"><img src="/images/Burger-menu-white.png" alt="" style="height: 30px;"></button>
      <div class="dropdown-content">
         <a href="/overview-receipts">OVERVIEW</a>
         <a href="/profile">PROFILE</a>
         <a href="/auth/logout">LOGOUT</a>
      </div>
   </div>
</div> --}}
{{!-- End of the added navbar --}}


<div class="login-container-general">
   <div class="login-container-blackblock">
      <form action="/auth/login" method="POST">
         <div class="login-container-forms">
            <input class="box-shadow" type="text" id="email" name="email" placeholder="Email">
            <input class="box-shadow" type="password" id="password" name="password" placeholder="Password">
            <button class="login-input-submitbtn" type="submit">Login</button>
         </div>
      </form>
   </div>
   <div class="login-container-title box-shadow">
      <h4 class=>Everything is Possible</h4>
      <img src="/images/with-chuck-norris_small.png" alt="" style="width:170px;">
      <h4>even bring order to your receipts</h4>

   </div>
   <div class="login-register-img-block">
      <a href=" /auth/signup"><img src="/images/chuck-register.png" alt="" style="height:250px;"></a>
   </div>



   {{infoMessage}}
   {{errorMessage}}

</div>