<nav>
   <ul>
      <li><a href="/auth/login">LOGIN</a></li>
      <li><a href="/auth/signup">SIGNUP</a></li>
      <li><a href="/auth/logout">LOGOUT</a></li>
      <li><a href="/">HOME</a></li>

   </ul>

   <h1>YOU ARE IN SIGNUP PAGE</h1>
   <form action="/auth/signup" method="POST">
      <label for="email">email</label>
      <input type="text" id="email" name="email">
      <label for="password">password</label>
      <input type="password" id="password" name="password">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      <label for="surname">Surname</label>
      <input type="text" id="surname" name="surname">
      <label for="taxId">Tax ID</label>
      <input type="text" id="taxId" name="taxId">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName" name="companyName">
      <label for="companyAdress">Company Address</label>
      <input type="text" id="companyAdress" name="companyAdress">

      <button type="submit">Submit</button>
   </form>

   {{errorMessage}}
</nav>