<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <div class="nav-nav--login">


      <div class="nav-dropdown--login" style="left:0">
         <a href="/auth/login"><button class="nav-dropbtn--login"><img src="/images/whitehome.png" alt=""
                  style="height: 30px;"></button></a>
      </div>
      <div class="nav-dropdown--login" style="right:0">
         <button class="nav-dropbtn--login"><img src="/images/Burger-menu-white.png" alt=""
               style="height: 30px;"></button>
         <div class="dropdown-content">
            <a href="/overview-receipts">OVERVIEW</a>
            <a href="/profile">PROFILE</a>
            <a href="/auth/logout">LOGOUT</a>
         </div>
      </div>
   </div>
   <div class="nav-title">{{pageTitle}}</div>
   {{{body}}}

   <script src="/javascripts/script.js"></script>
</body>

</html>