<h3>Create a new receipe</h3>

<form action="/main/new-receipe" method="POST">
  <label for="">Body of the post</label>
  <input type="text" name="body">
  <button type="submit">Create your receipt</button>
</form>